.writing-detail-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .nav-bar {
    flex-shrink: 0;
  }

  .writing-content {
    flex: 1;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-ideograph;
    float: left;

    .child-tit {
      font-size: 30px;
    }

    .answer-wrapper {
      padding: 20px 10px;
    }
  }
}
