.writing-detail-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .nav-bar {
    flex-shrink: 0;
  }

  .exercise-wrapper {
    font-size: 33px;
    line-height: 44px;
    text-indent: 60px;
  }

  .at-card {
    background-color: rgb(245, 245, 245);
  }

  .nav-bar {
    flex-shrink: 0;
  }

  .see-thinking {
    width: 90vw;
    height: 60px;
    margin: 20px auto;
  }

  .writing-content {
    flex: 1;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0 30px;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-ideograph;
    float: left;

    .child-tit {
      font-size: 30px;
    }

    .answer-wrapper {
      padding: 20px 10px;
    }
  }
}
