.cloze-detail-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .exercise-wrapper {
    font-size: 33px;
    line-height: 44px;
    text-indent: 60px;
    // word-wrap: break-word;
    // text-align: justify;
    // text-justify: inter-ideograph;
    // float: left;
  }

  .nav-bar {
    flex-shrink: 0;
  }

  .cloze-content {
    flex: 1;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0 30px;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-ideograph;
    float: left;
  }

  .top-card {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;

    .left {
      display: flex;
      margin: 10px 0;

      .card-text {
        font-size: 30px;
        margin-left: 10px;
      }
    }

  }

  .score-ratio {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .at-progress {
      flex: 1;
    }
  }

  .at-radio__title {
    font-size: 25px;
  }

  .exercise-wrapper {
    color: #333333;
  }

  .finish-progress {
    padding: 30px 10px 50px 10px;

    .finish-label {
      font-size: 30px;
    }
  }

  .answer-type {
    width: 40px;
    height: 40px;
    border: 2px solid;
    margin-left: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
